If:
  PathMatch: .*\.c

CompileFlags:
  Add: [
    -Wall,
    -I/usr/share/sdcc/include/mcs51,
    --include=/usr/share/sdcc/include/mcs51/lint.h,
    --include=/usr/share/sdcc/include/mcs51/mcs51reg.h
  ]
